p.p1 {
    margin: 0.0px 0.0px 24.0px 0.0px;
    font: 12.0px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p2 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p3 {
    margin: 0.0px 0.0px 24.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24;
    background-color: #ffffff;
    min-height: 16.0px
}

p.p4 {
    margin: 0.0px 0.0px 24.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p5 {
    margin: 0.0px 0.0px 24.0px 0.0px;
    font: 12.0px Arial;
    color: #171a24;
    background-color: #ffffff;
    min-height: 14.0px
}

p.p6 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 11.0px Arial;
    color: #000000;
    min-height: 12.0px
}

p.p7 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 15.0px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p8 {
    margin: 0.0px 0.0px 24.0px 0.0px;
    font: 10.5px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p11 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 10.5px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p12 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 12.0px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p13 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 10.5px Arial;
    color: #171a24;
    background-color: #ffffff;
    min-height: 12.0px
}

li.li9 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 10.5px Arial;
    color: #171a24
}

li.li10 {
    margin: 0.0px 0.0px 36.0px 0.0px;
    font: 10.5px Arial;
    color: #171a24
}

span.s1 {
    background-color: #f6c08b
}

span.s2 {
    background-color: #ffff0b
}

span.s3 {
    font: 10.5px Arial
}

span.s4 {
    font: 12.0px Arial
}

span.s5 {
    background-color: #ffffff
}

ul.ul1 {
    list-style-type: disc
}

p.p1 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    text-align: center;
    font: 14.0px Arial;
    color: #000000
}

p.p2 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Arial;
    color: #000000;
    background-color: #ffffff;
    min-height: 16.0px
}

p.p3 {
    margin: 0.0px 0.0px 24.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p4 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p5 {
    margin: 0.0px 0.0px 24.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24;
    background-color: #ffffff;
    min-height: 16.0px
}

p.p6 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Arial;
    color: #000000;
    min-height: 16.0px
}

p.p9 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24;
    background-color: #ffffff
}

p.p10 {
    margin: 0.0px 0.0px 12.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24;
    background-color: #ffffff;
    min-height: 16.0px
}

p.p11 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24;
    background-color: #ffffff;
    min-height: 16.0px
}

li.li7 {
    margin: 0.0px 0.0px 0.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24
}

li.li8 {
    margin: 0.0px 0.0px 36.0px 0.0px;
    font: 14.0px Arial;
    color: #171a24
}

span.s1 {
    background-color: #f6c08b
}

span.s2 {
    background-color: #ffff0b
}



span.s3 {
    font: 16.0px Arial
}

span.s4 {
    background-color: #ffffff
}

ul.ul1 {
    list-style-type: disc
}