.profile-picture {
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto;
}

.links {
      text-align: center;
      margin-top: 20px;
      padding: 20px;
      border-width: 2px;
      width: 80%;
      max-width: 500px;
      display: block;
      margin: 20px auto;
      border-radius: 10px;
  }

.bottom-text {
    text-align: center;
    margin-top: 40px;
    font-size: 20px;
    font-weight: bold;
}
