.login-form {
    height: calc(100vh - 64px);
    background-color: white;
}

.login-form > .row {
    height: 100%;
    overflow-x: hidden;
}

.form-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    width: 60%;
}

.form > form > input {
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 5px;
}

.form-submit-btn {
    width: 100%;
    background-color: var(--index);
    padding: 10px 20px;
    font-size: 14px;
    color: white;
}

.form > form > label {
    font-size: 14px;
    font-weight: 500;
    opacity: 0.8;
}

.image-col {
    position: relative;
    background-color: #E7B333;
}

.banner-container {
    width: 30%;
    position: absolute;
    top: 10%;
    padding-left: 50px;
}

.banner {
    font-weight: 700;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.banner-bg-image {
    position: absolute;
    bottom: 0;
    right: -10%;
}

.form-heading {
    font-size: 30px;
    font-weight: 700;
}

@media screen and (max-width: 1199px) {
    .image-col {
        display: none;
    }
    
}